.center {
  margin:auto;
  margin-top: 10px;
  width: 50%;
  text-align: center;

  .segment {
    max-width: 500px;
    margin:auto;

    button {
      font-weight: 800!important;
    }
  }

  .padder {
    padding: 40px;
  }
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  transform: translate(0%, -25%);
}
